# Ignorer les environnements virtuels Python
.venv/
venv/

# Fichiers spécifiques à l'OS
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Fichiers spécifiques à l'environnement de développement
.idea/
.vscode/

# Logs et fichiers temporaires
*.log
*.tmp
